---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- <p>Below is a list of my publications, organized by type. For a complete list in BibTeX format, please see the <a href="{{ site.baseurl }}/assets/bib/references.bib" download>downloadable BibTeX file</a>.</p> -->

<hr>

<h2 id="journal-articles">Journal Articles</h2>
{% bibliography --query @article --group_by none --max_authors 99 %}

<hr>

<h2 id="peer-reviewed-conference-publications">Peer-Reviewed Conference Publications</h2>
{% bibliography --query @inproceedings --group_by none --max_authors 99 %}

<hr>

<h2 id="lightly-refereed-manuscripts">Lightly Refereed Manuscripts (Workshops, Symposia)</h2>
{% bibliography --query @misc and (@*[note ~= "Workshop"] or @*[note ~= "Symposium"] or @*[note ~= "Oral Presentation"]) --group_by none --max_authors 99 %}

<!-- <hr>

<h2 id="manuscripts-in-preparation">Manuscripts in Preparation / Under Review</h2>
{% bibliography --query @misc and (@*[note ~= "In Preparation"] or @*[note ~= "Under Review"]) --group_by none --max_authors 99 %} -->